<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>vela</string>
		<key>gender</key>
		<string>male</string>
		<key>course</key>
		<string>IOS(3yrs)</string>
		<key>contact</key>
		<dict>
			<key>phone</key>
			<string>231456465</string>
			<key>mobile</key>
			<string>695864566</string>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>sriram</string>
		<key>gender</key>
		<string>male</string>
		<key>course</key>
		<string>IOS(fresher)</string>
		<key>contact</key>
		<dict>
			<key>phone</key>
			<string>5666656925</string>
			<key>mobile</key>
			<string>4585545454</string>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>vinoth</string>
		<key>gender</key>
		<string>male</string>
		<key>course</key>
		<string>IOS(1yrs)</string>
		<key>contact</key>
		<dict>
			<key>phone</key>
			<string>23323565</string>
			<key>mobile</key>
			<string>3265653256</string>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>gayathiri</string>
		<key>gender</key>
		<string>female</string>
		<key>course</key>
		<string>IOS(fresher)</string>
		<key>contact</key>
		<dict>
			<key>phone</key>
			<string>254563666156</string>
			<key>mobile</key>
			<string>315646456</string>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>vinothini</string>
		<key>gender</key>
		<string>female</string>
		<key>course</key>
		<string>IOS(3yrs)</string>
		<key>contact</key>
		<dict>
			<key>phone</key>
			<string>123564564</string>
			<key>mobile</key>
			<string>354564655</string>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>sowmiya</string>
		<key>gender</key>
		<string>female</string>
		<key>course</key>
		<string>IOS(1yrs)</string>
		<key>contact</key>
		<dict>
			<key>phone</key>
			<string>245566456789</string>
			<key>mobile</key>
			<string>456456154245</string>
		</dict>
	</dict>
</array>
</plist>
